venv/
env/

__pycache__/
*.py[cod]
*.pyo

*.sqlite3

.vscode/

*.log
*.pot
*.pyc
*.pyd
*.so
*.tmp
*.swp
*.DS_Store
Thumbs.db

*.mo
*.pot

*/migrations/__pycache__/
*/migrations/*.pyc

.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
*.log
pytest_cache/

node_modules/

dist/
build/
public/

.idea/
*.env
.env.*
